.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  border: 0;
  background-color: white;
  color: #282c34;
}
button:hover {
  background-color: #cedfff;
}

p {
  text-align: center;
}
